{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "settings": {
      "import/resolver": {
        "node": {
          "extensions": [".js", ".jsx", ".ts", ".tsx"]
        }
      }
    },
    "overrides": [
      {
        "files": ["**/*.js", "**/*.jsx", "**/*.ts", "**/*.tsx"],
        "parser": "@typescript-eslint/parser",
      }
    ],
    "env": {
      "browser": true,
      "node": true,
    },
    "plugins": [
      "@typescript-eslint",
      "import",
      "unused-imports"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
      "indent": ["warn", 2, {"SwitchCase": 1}],
      "semi": ["error", "always"],
      "no-trailing-spaces": ["warn"],
      "no-multi-spaces": ["warn"],
      "quotes": ["warn", "single"],
      "no-mixed-spaces-and-tabs": ["off"],
      "@typescript-eslint/no-explicit-any": ["warn"],
      "@typescript-eslint/no-unused-vars": "off",
      "unused-imports/no-unused-imports": "error",
      "unused-imports/no-unused-vars": [
          "warn",
          { "vars": "all", "varsIgnorePattern": "^_", "args": "after-used", "argsIgnorePattern": "^_" }
      ]
    },
  }