NODE_ENV=DEVELOPMENT
PORT=8080
DATABASE_USERNAME=mxmqukkx
DATABASE_USER=mxmqukkx
DATABASE_PASSWORD=
DATABASE_HOST=trumpet.db.elephantsql.com
DATABASE_NAME=mxmqukkx
AUTH0_ISSUER_BASE_URL=https://karlsruhetanzt.eu.auth0.com
AUTH0_AUDIENCE=salsa-bachata-event-app
CLOUDINARY_URL=
EVENT_UPDATE_INTERVAL_IN_SECONDS=5

# for tests
AUTH0_TEST_M2M_APP_CLIENT_ID=04UYnbPPbj90cjnXRFZhmyEoHgWjnzR8
AUTH0_TEST_M2M_APP_CLIENT_SECRET=
TESTS_TIMEOUT_IN_SECONDS=20
BU_API_REQUESTS_PER_SECOND=0.5
BU_API_URL=http://localhost:8080