NODE_ENV=DEVELOPMENT
PORT=8080
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=mxmqukkx
AUTH0_ISSUER_BASE_URL=
AUTH0_AUDIENCE=
CLOUDINARY_URL=
EVENT_UPDATE_INTERVAL_IN_SECONDS=5

# for tests
AUTH0_TEST_M2M_APP_CLIENT_ID=
AUTH0_TEST_M2M_APP_CLIENT_SECRET=
TESTS_TIMEOUT_IN_SECONDS=20
BU_API_REQUESTS_PER_SECOND=0.5
BU_API_URL=http://localhost:8080