NODE_ENV=PRODUCTION
PORT=8080
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
AUTH0_ISSUER_BASE_URL=
AUTH0_AUDIENCE=
CLOUDINARY_URL=
EVENT_UPDATE_INTERVAL_IN_SECONDS=1800