NODE_ENV=PRODUCTION
PORT=8080
DATABASE_USERNAME=pyfsknyu
DATABASE_USER=pyfsknyu
DATABASE_PASSWORD=
DATABASE_HOST=trumpet.db.elephantsql.com
DATABASE_NAME=pyfsknyu
AUTH0_ISSUER_BASE_URL=https://karlsruhetanzt.eu.auth0.com
AUTH0_AUDIENCE=salsa-bachata-event-app
CLOUDINARY_URL=
EVENT_UPDATE_INTERVAL_IN_SECONDS=1800